/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


/* Basic changes for the website */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --details-color : 
    rgba(0,169,255,0.6);
    /* rgba(68, 119, 206, 0.6); */
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  max-width: 1200px;
  position: relative;
  padding: 20px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background: linear-gradient(#00A9FF, #32cff3); */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Search input for seraching different cities weather */
.searchInput {
  padding: 8px;
  font-size: 0.8rem;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
  color: white;
  background-color: var(--details-color);
  /* #4477CE */
  backdrop-filter: blur(7px);
  margin-bottom: 20px;
}

.searchInput::placeholder {
  color: black;
}

.searchInput:focus::placeholder {
  color: white;
}

/* Current container which shows basic data like city,temp,desc,high,low */
.currentContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--details-color);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
  padding-inline: 80px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
  gap: 4px;
}

#descriptionWeather,
.hourlyTable td,
.Details {
  text-transform: capitalize;
}

.currentTemp {
  display: flex;
  gap: 24px;
}

/* Hourly forecast is a 3-hour step forecast for 24 hours and it is scrollable horizontally and responsive design */
.scrollableTable {
  max-height: 320px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 18px;
  background-color: var(--details-color);
  backdrop-filter: blur(7px);
  border: none;
  border-radius: 18px;
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
}

.hourlyTable {
  height: 250px;
  text-align: center;
  width: 1060px;
  white-space: nowrap;
}

.hourlyTable td {
  padding: 10px;
  min-width: 130px;
}

.hourlyTable img {
  width: 100px;
}

caption {
  background-color: var(--details-color);
  /* #4477CE */
  backdrop-filter: blur(7px);
  border: 1px solid white;
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
  border-radius: 12px;
  text-align: justify;
  padding: 8px;
  width: fit-content;
}

/* Details are other weather data, which is important and it is displayed using grid layout with other Details and five day forecast */
.Details {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 325px;
  background-color: var(--details-color);
  /* #4477CE */
  backdrop-filter: blur(7px);
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
  border: none;
  border-radius: 18px;
  padding: 18px;
  justify-content: center;
}

.Details h3 {
  font-size: 0.8rem;
}

.Details h2 {
  font-size: 2rem;
}

.sunriseDetails,
.sunsetDetails {
  justify-content: space-evenly;
}

.windDetails,
.PrecipitationDetails,
.perceptionProb,
.humidityDetails,
.feelsLikeDetails,
.visibilityDetails,
.pressureDetails {
  justify-content: space-evenly;
}

.sunriseInfo,
.sunsetInfo,
.windInfo,
.PrecipitationInfo,
.rainInfo,
.humidityInfo,
.feelsInfo,
.visibilityInfo,
.pressureInfo {
  text-align: center;
}

.windDirDiv,
.windSpdDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Five day forecast is a 5 days weather data shown in vertical form, which contain day,weatherIcon,low,high for 5 days including present day */
.fiveDayTable {
  background-color: var(--details-color);/* #4477CE */
  backdrop-filter: blur(7px);
  width: 325px;
  border: none;
  border-radius: 18px;
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.fiveDayTable td img {
  width: 100px;
}

/* Grid layout used efficiently to display details and five day forecast, with responsive design */
.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 18px;
  background-color: transparent;
  border: none;
  border-radius: 18px;
  margin: 20px;
  justify-content: space-around;
}

.gridLayout img,
.fiveDayTable img {
  width: 100px;
}

.gridSpan {
  grid-row: span 2;
}

/* Footer section to show the creator details and the resources used */
.footer-section {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  max-width: 1200px;
  padding: 10px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 20px;
  border-radius: 4px;
}

.footer-section a {
  color: rgb(0, 120, 255);
}

/* Media Queries for a responsive design for all screen sizes */
@media screen and (max-width: 1120px) {
  .container {
    max-width: 1000px;
  }

  .scrollableTable {
    max-height: 290px;
  }

  .Details {
    height: 300px;
    width: 430px;
  }

  .Details h3 {
    font-size: 1rem;
  }

  .fiveDayTable {
    width: 430px;
  }

  .fiveDayTable td {
    padding-left: 16px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 880px;
  }

  .scrollableTable {
    max-height: 300px;
  }

  .Details {
    height: 300px;
    width: 350px;
  }

  .Details h3 {
    font-size: 1rem;
  }

  .fiveDayTable {
    width: 350px;
  }

  .fiveDayTable td {
    padding-right: 0px;
    padding-left: 2px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 780px) {
  .scrollableTable {
    max-height: 300px;
  }

  .Details {
    height: 300px;
    width: 100%;
  }

  .Details h3 {
    font-size: 1rem;
  }

  .fiveDayTable {
    width: 100%;
  }

  .fiveDayTable td {
    padding-right: 20px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 524px) {
  .searchInput {
    width: 100%;
    position: relative;
    margin-left: 12px;
  }

  .scrollableTable {
    max-height: 300px;
    width: 100%;
  }

  .Details {
    height: 300px;
    width: 100%;
  }

  .Details h3 {
    font-size: 1rem;
  }

  .fiveDayTable {
    width: 100%;
    padding: 12px;
    margin-left: 0px;
  }

  .fiveDayTable td {
    padding-right: 0px;
    padding-left: 4px;
    font-size: 1rem;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 430px) {
  .searchInput {
    width: 100%;
    position: relative;
    margin-left: 12px;
  }

  .scrollableTable {
    max-height: 300px;
    width: 100%;
  }

  .hourlyTable td {
    padding: 4px;
    min-width:100px;
    font-size: 0.9rem;
  }

  .hourlyTable img {
    width: 70px;
  }

  .Details {
    height: 300px;
    width: 100%;
  }

  .Details h3 {
    font-size: 1rem;
  }

  .fiveDayTable {
    width: 100%;
    padding: 12px;
    margin-left: 0px;
  }

  .fiveDayTable td {
    padding-right: 0px;
    padding-left: 4px;
    font-size: 0.9rem;
  }

  .fiveDayTable td img {
    width: 70px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .searchInput {
    width: 100%;
    position: relative;
    margin-right: 12px;
  }

  .currentContainer {
    max-width: 250px;
    padding-block: 20px;
    padding-inline: 40px;
  }

  .scrollableTable {
    max-height: 300px;
    width: 100%;
  }

  .hourlyTable td {
    padding: 4px;
    min-width:100px;
    font-size: 0.75rem;
  }

  .hourlyTable img {
    width: 70px;
  }

  .Details {
    height: 300px;
    width: 100%;
  }

  .Details h3 {
    font-size: 1rem;
  }

  .fiveDayTable {
    width: 100%;
    padding: 12px;
    margin-left: 0px;
    overflow-x: auto;
  }

  .fiveDayTable td {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 0.75rem;
  }

  .fiveDayTable td img {
    width: 70px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    justify-content: space-around;
    align-items: center;
  }

  .footer-section {
    font-size: 0.7rem;
  }
}


/* Keyframes Animations to look better */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply animations to specific elements */
.currentContainer {
  animation: fadeIn 1s ease-in-out;
}

.currentTemp,
.hourlyTable,
.fiveDayTable,
.Details,
.gridLayout {
  animation: slideIn 1s ease-in-out;
}