@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: linear-gradient(#00A9FF, #32cff3);
  max-width: 1200px;
  position: relative;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: auto;
}

.searchInput {
  padding: 8px;
  font-size: 0.8rem;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: 14px;
  width: 200px;
  color: white;
  background-color: #4477CE;
}

.searchInput::placeholder {
  color: black;
}

.searchInput:focus::placeholder {
  color: white;
}

.currentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 60px;
}

#descriptionWeather,
.hourlyTable td,
.Details {
  text-transform: capitalize;
}

.currentTemp {
  display: flex;
  gap: 18px;
}

.scrollableTable {
  max-height: 320px;
  overflow-x: auto;
  overflow-y:hidden;
  padding: 18px;
  background-color: #4477CE;
  border: none;
  border-radius: 18px;
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
}

.hourlyTable {
  background-color: #4477CE;
  backdrop-filter: blur(8px);
  height: 250px;
  text-align: center;
  width: 1060px;
  white-space: nowrap;
}

.hourlyTable td {
  padding: 10px;
  min-width: 130px;
}

.hourlyTable img {
  width: 80px;
}


caption {
  background-color: #4477CE;
  border: 1px solid white;
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
  border-radius: 12px;
  text-align: justify;
  padding: 8px;
  width: fit-content;
}

.Details {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 325px;
  background-color: #4477CE;
  backdrop-filter: blur(8px);
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
  border: none;
  border-radius: 18px;
  padding: 18px;
  justify-content: center;
}

.Details h3 {
  font-size: 0.8rem;
}

.Details h2 {
  font-size: 2rem;
}

.sunriseDetails,
.sunsetDetails {
  justify-content: space-evenly;
}

.windDetails,
.PrecipitationDetails,
.perceptionProb,
.humidityDetails,
.feelsLikeDetails,
.visibilityDetails,
.pressureDetails {
  justify-content: space-evenly;
}

.sunriseInfo,
.sunsetInfo,
.windInfo,
.PrecipitationInfo,
.rainInfo,
.humidityInfo,
.feelsInfo,
.visibilityInfo,
.pressureInfo {
  text-align: center;
}


.windDirDiv,
.windSpdDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.windInfo img {
  height: 80px;
  margin-bottom: 10px;
}

.PrecipitationInfo img {
  height: 120px;
  width: 100px;
}

.fiveDayTable {
  background-color: #4477CE;
  backdrop-filter: blur(8px);
  width: 325px;
  border: none;
  border-radius: 18px;
  box-shadow: 2.8px 2.8px 5.2px #002e7a;
  padding: 20px;
  gap: 20px;
}

.fiveDayTable td {
  padding-block: 20px;
}

.fiveDayTable td img {
  height: 60px;
  width: 50px;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 18px;
  background-color: transparent;
  border: none;
  border-radius: 18px;
  margin: 20px;
}

.gridLayout div {
  background-color: #4477CE;
}

.gridLayout img,
.fiveDayTable img {
  width: 100px;
}

.gridSpan {
  grid-row: span 2;
}


/* Media Queries */

@media screen and (max-width: 1120px) {
  .container {
    max-width: 1000px;
  }

  .scrollableTable {
    max-height: 290px;
  }

  .Details {
    height: 300px;
    width: 430px;
  }

  .fiveDayTable {
    width: 430px;
  }

  .fiveDayTable td {
    padding-right: 20px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    justify-content: space-around;
  }


}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 880px;
  }

  .scrollableTable {
    max-height: 300px;
  }

  .Details {
    height: 300px;
    width: 320px;
  }

  .fiveDayTable {
    width: 320px;
  }

  .fiveDayTable td {
    padding-right: 0px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: space-around;
  }

}

@media screen and (max-width: 780px) {
  .container {
    max-width: 550px;
  }

  .scrollableTable {
    max-height: 300px;
  }

  .Details {
    height: 300px;
    width: 400px;
  }

  .fiveDayTable {
    width: 400px;
  }

  .fiveDayTable td {
    padding-right: 20px;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 100%;
  }
}

@media screen and (max-width: 524px) {
  .searchInput {
    width: 92%;
  }

  .scrollableTable {
    max-height: 300px;
  }

  .Details {
    height: 300px;
    width: 270px;
  }

  .fiveDayTable {
    width: 270px;
    padding: 12px;
    margin-left: 0px;
  }

  .fiveDayTable td {
    padding-right: 0px;
    font-size: 0.8rem;
  }

  .gridLayout {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    margin-left: 0px;
  }
}


/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply animations to specific elements */
.currentContainer {
  animation: fadeIn 1s ease-in-out;
}

.currentTemp,
.hourlyTable,
.fiveDayTable,
.Details,
.gridLayout {
  animation: slideIn 1s ease-in-out;
}
